@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding: 0px;
}
#cabecera {
	background-color:#C83E40;
	width: 1200px;
	height: 300px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color:#FFCACB;
	font-size: 45px;
	font-family: "Kanit SemiBold";
}

h2 {
	color:#CBCBCB;
	font-size: 30px;
	font-family: "Kanit Light";
}

main {
	padding: 30px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#estructura {
	display: flex;
	height: 350px;
	width: 1160px;
	margin: 30px;
}

header li {
	color:#FFCACB;
}

h3 {
	color: #C83E40;
	font-size: 25px;
	font-family: "Kanit Light";
}

li {
	font-size: 16px;
	font-family: "Kanit Light";
}

p {
	font-size: 16px;
	font-family: "Kanit Light"
}

ul {
	font-size: 16px;
	font-family: "Kanit Light"
}

.caja{
	width: 1160px;
	height: 100px;
	background-color:#FFBFC0;
	padding: 20px 20px 20px 20px;
	margin: 20px;
	border-width: 5px;
	border-style:dotted;
	border-color: black;
	box-sizing: border-box;
	display:flex;
}

section p {
	font-size: 16px;
	font-family: "Kanit Light"
}

.caja2 {
	width: 1160px;
	height: 50px;
	background-color:#C83E40;
}

footer p {
	color:#FFCACB;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px 10px 30px
}

#datos {
	display: flex;
	align-items: baseline;
    flex-direction: row;
	background-color:#FFCACB;
	width: 1000px;
	justify-content: space-around;
}