@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding: 0px;
}
#cabecera {
	background-color:#C83E40;
	width: 1200px;
	height: 400px;
}

h1 {
	color:#FFCACB;
	font-size: 45px;
	font-family: "Kanit SemiBold";
}

h2 {
	color:#CBCBCB;
	font-size: 30px;
	font-family: "Kanit Light";
}

header li {
	color:#FFCACB;
}

h3 {
	color: #C83E40;
	font-size: 25px;
	font-family: "Kanit Light"
}

li {
	font-size: 16px;
	font-family: "Kanit Light"
}

p {
	font-size: 16px;
	font-family: "Kanit Light"
}

.caja{
	width: 1160px;
	height: 100px;
	background-color:#FFBFC0;
	padding: 20px 20px 20px 20px;
	margin: 20px;
	border-width: 5px;
	border-style:dotted;
	border-color: black;
	box-sizing: border-box;
}

section p {
	font-size: 16px;
	font-family: "Kanit Light"
}