@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600&display=swap');

*{
	margin:0px;
	padding: 0px;
}
/* Mirá que pasa si trabajás con porcentajes (te puse el width al 100%) te ocupa toda la pantalla independientemente de la resolución del dispositivo. Usá todo al 100% o al porcentaje que quieras. Tratá de separar mejor las cosas con margin */

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
	width: 100%;
	margin: 0px;
	padding: 0px 30px 0px 30px;
}

.circle{
	margin-top: 10px;
	margin-left: 10px;
	width: 180px;
	height: 180px;
	background-color: #FFFFFF;
	border-radius: 50%;
	position: absolute;
	z-index: 18;
	top: 200px;
	animation-name: movimiento3;
	animation-duration: 16s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-fill-mode: backwards;
}

@keyframes movimiento3{
	0%{
		
		transform: translateY(12px);
	}
	
	20%{
		transform: translateX(-800px);
	}
	
	70%{
		transform: translateX(350px);
	}
	
	70%{
		transform: translateY(350px);
	}
	
	75% {
		transform: translateX(600px);
	}
	
	80%{
		transform: translateY(-1000px);
	}
	
	90%{
		transform: translateX(700px);
	}
	
	100%{
		transform: translateX(100%) translateY(100%);
	}
}

.circle2{
	margin-top: 10px;
	margin-left: 10px;
	width: 180px;
	height: 180px;
	background-color: #FFFFFF;
	border-radius: 50%;
	position: absolute;
	z-index:16;
	animation-name: movimiento;
	animation-duration: 12s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
}

@keyframes movimiento{
	0%{
		
		transform: translateY(0px);
	}
	
	20%{
		transform: translateY(-800px);
	}
	
	70%{
		transform: translateY(350px);
	}
	
	70%{
		transform: translateX(350px);
	}
	
	75% {
		transform: translateY(600px);
	}
	
	80%{
		transform: translateX(-1000px);
	}
	
	90%{
		transform: translateY(700px);
	}
	
	100%{
		transform: translateX(100%) translateY(100%);
	}
}

.circle3 {
	margin-top: 20px;
	margin-left: 30px;
	width: 150px;
	height: 150px;
	background-color: #FFFFFF;
	border-radius: 50%;
	position: absolute;
	z-index:17;
	animation-name: movimiento2;
	animation-duration: 20s;
	animation-direction: normal;
	animation-iteration-count: infinite;
}

@keyframes movimiento2{
	0%{
		
		transform: translateY(0px);
	}
	
	20%{
		transform: translateY(800px);
	}
	
	70%{
		transform: translateY(-350px);
	}
	
	70%{
		transform: translateX(350px);
	}
	
	75% {
		transform: translateY(-600px);
	}
	
	80%{
		transform: translateX(1000px);
	}
	
	90%{
		transform: translateY(-700px);
	}
	
	100%{
		transform: translateX(100%) translateY(100%);
	}
}

h1 {
	color:#7A6AAD;
	font-size: 45px;
	font-family:Kanit;
	font-weight:600;
}

h2 {
	color: #000000;
	font-size: 33px;
	font-family: Kanit, sans-serif;
	font-weight: 100;
}

#estructura {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	width: 964px;
	align-items:flex-start;
	justify-content: space-around;
}

main {
	padding: 50px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nombre-carrera {
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	justify-content: flex-start;
	padding-top: 0px;
}

h3 {
	color: #7A6AAD;
	font-size: 33px;
	font-family: Kanit, sans-serif;
	font-weight: 600;
}

li {
	font-size: 16px;
	font-family: Kanit, sans-serif;
	font-weight: 400;
	list-style: none;
}

p {
	font-size: 16px;
	font-family: Kanit, sans-serif;
	font-weight: 400;
}

h4 {
	font-family: Kanit, sans-serif;
	font-weight: 100;
	font-size: 14px;
}

section p {
	font-size: 16px;
	font-family: Kanit, sans-serif;
	font-weight: 400;
}

footer p {
	color: #FFFFFF;
}

footer {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 40px 30px 40px 30px;
	width: 100%;
	height: 13vh;
	background-color:#7A6AAD;
	justify-content: space-between;
	position:relative;
	z-index: 80;
}

#datos {
	display: flex;
	align-items: baseline;
	flex-direction: row;
	background-color:#FFCACB;
	width: 800px;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 40px;
}

#columna-izquierda {
	margin: 0px;
	padding-top: 0px;
	width: 700px;
}

#columna-izquierda ul {
	color:#7A6AAD;
}

#columna-derecha article{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 80%;
	padding-top: 3px;
}

.botonera {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

nav ul {
	list-style: none;
}

.botonera a {
	text-decoration: none;
	color:#7A6AAD;
	padding: 10px 20px;
}

nav ul li {
	display: inline;}

.botonera a:hover{
	color:#000000;
	transform: translate(20px);
	transition: all 1s ease-in-out;
}

#cabecera-portada {
	width: 100%;
	height: 90px;
	background-color:#92CFC9;
	background-size: 100%;
	padding-bottom: 0px;
}

main {
	display: flex;
	padding-left: 0px;
	margin-left: 20px;
	width: 100%;
	padding-top: 0px;
}

.contacto-fondo {
	background-color: #FFCACB;
}

div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	padding-left: 30px;
	margin-left: 0px;
	padding-top: 0px;
}
article h1{
	color:#C83E40;
}

article h2{
	color:#000000;
	margin-top: -30px;
	font-size: 30px;
}

nav ul li a {
	font-family: Kanit, sans-serif;
	font-weight: bold;
	font-size: 22px;
}

main h1{
	color:#7A6AAD;
	padding-bottom: 30px;
	padding-top: 10px;
}

article {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 75px;
	padding-right: 30px;
	margin-top: 40px;
}

aside{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0px;
	margin-bottom: 0px;
}

aside a {
	width: 25%;
	display: flex;
}

main a img {
	width: 100%;
	height: auto;
}

form {
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
}

label {
	display: block;
	height: 35px;
	font-family: Kanit, sans-serif;
	font-weight: 400;
}

.columna1 label{
	padding-top: 16px;
}

input {
	background-color: #92CFC9;
	width: 100%;
	height: 30px;
	padding: 5px;
	border-radius: 15px;
	border-width: 2px;
	font-family: Kanit, sans-serif;
	font-weight: 400;
}

input[type=checkbox] {
	width: auto;
	height: auto;
}

.button-form {
	height: 40px;
	width: 35%;
	background-color: #7A6AAD;
	color:#FFFFFF;
	margin-top: 25px;
	margin-right: 20px;
	border: solid;
	border-color: #000000;
	font-family: Kanit;
	font-weight: 500;
	font-size: 17px;
	padding-top: 3px;
	transform: translate(20px);
	transition: all 0.2s ease-in-out;
}

.button-form:hover {
	background-color: #92CFC9;
	color:#7A6AAD;
}

textarea {
	width: 80%;
	height: 145px;
	background-color: #92CFC9;
	justify-content: center;
	margin-top: 15px;
	border-radius: 15px;
	padding: 10px;
	border-width: 2px;
	font-family: Kanit, sans-serif;
	font-weight: 400;
}

.estructura-contacto {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

form h3 {
	font-size: 25px;
}

#areas {
	margin-top: 15px;
}

.rociodg {
	z-index: 25;
	display: flex;
	flex-direction: column;
	align-self: center;
	position: absolute;
	top: 350px;
	padding-left: 33.33%;
	padding-right: 33.33%;
}

.rociodg h2{
	color: #7A6AAD;
	font-family: Kanit;
	font-weight: 600;
	letter-spacing: 10px;
}

.fondo {
	position: static;
	z-index: 15; 
}

#portada-nueva {
	display:block;
	padding-bottom: 0px;
}

.trama-lettering {
	position: static;
	z-index: 15;
}

.redes {
	display: flex;
	flex-direction: column;
}

#behance {
	display: flex;
	flex-direction: row;
}

footer ul {
	list-style: none;
	padding-top: 30px;
	padding-bottom: 33px;
}

footer li {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

footer ul li p {
	padding-left: 10px;
}

.curriculum-fondo {
	background-color: #FFCACB;
}

.trabajos-texto {
	width: 100%;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.trabajos-texto aside a{
	width: 23%;
	margin-top: 2%;
}

.trabajos-texto aside a img {
	width: 100%;
	height: auto;
}

.trabajos-texto div article{
	display: flex;
	flex-direction: row;
	align-items: baseline;;
}

.trabajos-texto div article h2{
	padding: 0px 185px 0px 200px;
}

.trabajos-fondo{
	background-color: #FFCACB;
}

.foto-nombre {
	display: flex;
	flex-direction: row;
}

.foto-nombre img {
	padding-right: 85px;
}

.bold {
	font-family: Kanit, sans-serif;
	font-weight: 600;
}

footer ul li a{
	color: #FFFFFF;
	padding-left: 10px;
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	body{
		font-size: 0.8em;
	}
	.trabajos-texto div article {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		padding: 50px;
		
	}
	
	.trabajos-texto div article h2{
		padding-left: 40px;
		padding-right: 30px;
		
	}
	
	.trabajos-texto aside a{
	width: 48%;
}
	header {
	width: 100%;
	padding: 0px 10px 0px 10px;
}
	.alfabeto{
		width: 1200px;
	}
	
	footer p{
		padding-right: 30px;
	}
	
	footer ul{
		padding-right: 20px;
		padding-left: 20px;
	}
	
	#columna-derecha{
		padding-right: 120px;
	}
	
	.foto-nombre {
		display: block;
	}
	
	.foto-nombre img {
	padding-right: 0px;
	padding-left: 80px;
	}
	
	#estructura {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-self: center;
	padding-left: 275px;
	padding-right: 150px;
	}
	
	#columna-izquierda{
		padding-left: 76px;
	}
	
	form {
		margin-top: 60px;
		width: 70%;
	}
	
	.columna1 {
		padding-right: 100px;
	}
	
	.rociodg {
	top: 365px;
	}
	
	.fondo img{
		width: 150%;
		padding-top: 30px;
	}
	
	footer{
		margin-top: 30px;
		width: 100%;
	}
	
	main h1{
		margin-top: 60px;
	}
}

@media screen and (max-width: 600px) {
	body{
		font-size: 0.75em;
	}
	
	header {
		flex-direction: column;
		position:relative;
		top: 0px;
		z-index: 100;
		padding: 0px 30px 0px 30px;
	}
	
	.alfabeto{
		width: 600px;
	}
	
	.botonera {
		margin-top: 50px;
		width: 100%;
		height: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.botonera a {;
		padding: 0px 10px;
		display: flex;
		flex-direction: column;
	}

	
	#cabecera-portada {
		width: 100%;
		height: 200px;
		background-size: 100%;
		padding-bottom: 0px;
		align-items: center;
	}
	
	footer{
		display: flex;
		flex-direction: column;
		background-size: auto, 200%;
		height: 40vh;
	}
	
	main {
		height: 200%;
	}
	
	.trabajos-texto div article {
		flex-direction: column;
		padding-left: 0px;
		padding-right: 15px;
		margin-top: -30px;
		margin-bottom: -50px;
		}
	
	.trabajos-texto div article h2{
		padding-left: 0px;
		margin-top: 10px;
	}
	
	.trabajos-texto aside a{
		width: 98%;
	}
	
	#estructura {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-self: center;
		padding-left: 575px;
		padding-right: 0px;
		margin-left: -100px;
	}
	
	#columna-derecha article{
		width: 35%;
	}
	
	.estructura-contacto{
		display: block;
	}
	
	main h1{
		margin: 5px;
		padding-bottom: 0px;
	}
}